<!-- 
 - Jinja form template
 - expects Form object (see forms.py) to be given in as an argument
-->
{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <!-- 
    - action: which url to use for submitting the user-entered info for the form
    - method: type of rerequst HTTP
    - novalidate: leavs it up to the server to validate form input not the browser
     -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}